.eclipse {
    width: 4px;
    height: 4px;
    border-radius: 100%;
    background: #ffffff;
}

.brown {
    background-color: #977F51
}

.eclipse_container {
    display: flex;
    height: 16px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.tagName {
    display: flex;
    width: 328px;
    padding: 32px 24px 160px 24px;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    border-radius: 9.639px;
    border: 0.602px solid var(--Gradient-Stroke, #B2D8F7);
    background: rgba(255, 255, 255, 0.10);
}


.schedule_image {
    margin-top: 10rem;
    position: absolute;
}



.main_tag_container {
    display: flex;
    gap: 18px;
    flex-direction: row;
    transition: transform 0.7s ease-in; /* Define the transition */
  }
  
  /* Add a class to apply the translation */
  .slide-left {
    transform: translateX(-100%); /* Translate the container to the left */
  }
  
.notactive, .active{
    display: flex;
    width: 343px;
    height: 50px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    opacity: 0.2;
    background: var(--Main-blue, #0294E2);
    color: var(--White, #FFF);
    font-size: 14px;
    letter-spacing: -0.3px;
    position: absolute;
    bottom: 35px;
}

.active {
   opacity: 100;
   cursor: pointer;
}

.first {
    text-align: center;
}

.second_logo_container {
    position: absolute;
    top: 76px;
}

@media (max-height: 700px) {
    .second_logo_container {
        position: absolute;
        top: 20px;
    }

    .schedule_image {
        margin-top: 8rem;
        position: absolute;
    }

}